* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #23972a;
  color: rgb(240, 234, 234);
  font-size: 18px;
  padding: 0 30px;
}

.logo {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navList {
  display: flex;
  list-style: none;
  gap: 60px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: rgb(245, 238, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.navLink:hover {
  color: #080808;
}

.authContainer {
  display: flex;
  gap: 15px;
  align-items: center;
}

.authContainer > .login,
.authContainer > .register {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border: 2px solid white;
  padding: 3px 6px;
  font-size: 15px;
  border-radius: 5px;
  backdrop-filter: blur(50px); /* Apply blur effect */
}

.authContainer > .login:hover,
.authContainer > .register:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Slightly more visible on hover */
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
}

.username {
  color: rgb(245, 238, 238);
  font-size: 16px;
  font-weight: 600;
}

.userIcon {
  font-size: 20px;
  color: rgb(245, 238, 238);
}

.userMenu {
  position: absolute;
  top: 60px;
  right: 30px;
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px;
  z-index: 1000;
  display: none;
}

.authContainer .showUserMenu {
  display: block;
}

.logout {
  text-decoration: none;
  color: #23972a;
  background-color: white;
  border: 2px solid #23972a;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 5px;
  backdrop-filter: blur(50px);
  margin-left: 10px;
  font-weight: bold;
}

.logout:hover {
  background-color: #154d44;
}
